*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#inicio{
    background: url("images/bg_inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    row-gap: 40px;
}

.brand h2{
    color: rgb(228, 224, 216);
    font-size: 1.5rem;
    text-align: center;
}

.brand img{
    width: 600px;
}

.centrar-botones{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input[type="button"]{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(117, 117, 117);
    background-color: rgb(196, 36, 76);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.1rem;

}

#registro{
    background: url("images/bg_registro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    min-height: 80vh;
    padding-top: 100px;
    box-sizing: border-box;
}

.container-name label{
    font-size: 2.5rem;
    font-weight: bold;
}

.container-name input{
    font-size: 3rem;
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgb(145, 145, 145);
    background-color: rgba(247, 205, 156, 0.788);
}

.container-name p{
    font-weight: bold;
}

#div-audio {
    position: fixed;
    top: 15px;
    right: 15px;
}

#div-audio > button {   
    height: 50px;
    width: 60px;
    border-radius: 5px;
    border: 2px solid rgb(117, 117, 117);
    background-color: rgb(196, 36, 76);
    color: white;
}

#puntajes{
    background: url("images/bg_puntajes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.caja-puntajes{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#clasificacion{
    min-width: 600px;
    padding: 20px;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgba(219, 172, 41, 0.712);
    text-align: center;
}

#clasificacion th, #clasificacion td{
    padding: 10px;
}

#juego{
    background: url("images/bg_juego.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.head-juego{
    display: flex;
    justify-content: center;
    align-items: start;
}

#juego h1{
    margin: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-top: 0;
    background-color: rgb(214, 126, 24);
    text-align: center;
    width: 700px;
    color: rgb(223, 255, 202);
}

#casas, #imagenesAnimales{
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#casas{
    min-height: 45vh;
}

#imagenesAnimales{
    min-height: 20vh;
    border-radius: 5px;
    border-top: 5px solid rgb(235, 235, 52);
    border-bottom: 5px solid rgb(235, 235, 52);
    background-color: rgba(139, 73, 34, 0.973);
}

/* #animal1,
#animal2,
#animal3,
#animal4,
#animal5,
#animal6,
#animal7,
#animal8,
#animal9 {
    height: 100px;
} */

#casa1,
#casa2,
#casa3,
#casa4,
#casa5,
#casa6,
#casa7,
#casa8,
#casa9 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    border: 4px solid rgb(160, 224, 11);
}

#casa1 {
    background-image: url(images/casa1.jpg);
}

#casa2 {
    background-image: url(images/casa2.jpg);
}

#casa3 {
    background-image: url(images/casa3.jpg);
}

#casa4 {
    background-image: url(images/casa4.jpg);
}

#casa5 {
    background-image: url(images/casa5.jpg);
}

#casa6 {
    background-image: url(images/casa6.jpg);
}

#casa7 {
    background-image: url(images/casa7.jpg);
}

#casa8 {
    background-image: url(images/casa8.jpg);
}

#casa9 {
    background-image: url(images/casa9.jpg);
}

input[type="button"]:hover{
    cursor: pointer;
}

#boton-salir{
    width: 80px;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(236, 43, 9);
    color: white;
    margin: 0 20px;
}

.abajo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

#puntos-juego{
    font-size: 1.3rem;
    margin: 0 30px;
    padding: 0 20px;
    color: white;
}

#ganador{
    background: url("images/bg_ganador.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#txt-win{
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(252, 221, 45, 0.884);
    color: black;
    font-size: 3.5rem;
    width: 500px;
    text-align: center;
}

.mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
}

#felicitacion{
    padding: 60px;
    margin: 80px 120px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgba(115, 181, 238, 0.836);
    color: black;
    font-size: 2rem;
    text-align: center;
}

#creditos{
    background: url("images/bg_registro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.datos-creditos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    border-radius: 95px;
    border: 2px solid black;
    background-color: rgba(230, 173, 88, 0.897);
    color: rgb(6, 41, 46);
    margin: 30px 150px;
    padding: 25px;
    font-size: 1.15em;
}

.tituloC{
    font-weight: bold;
}

.datos-creditos li{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.datos-creditos ul{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

#div-cronometro {
    position: fixed;
    padding-left: 20px;
}

#div-cronometro > p {
    font-size: 20px;
    color: white;
}