#inicio{
    background: url("images/bg_inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    row-gap: 40px;
}

.brand h2{
    color: rgb(228, 224, 216);
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.brand img{
    width: 600px;
}

.centrar-botones{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input[type="button"]{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(117, 117, 117);
    background-color: rgb(196, 36, 76);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#registro{
    background: url("images/bg_registro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    height: 80vh;
    padding-top: 100px;
    box-sizing: border-box;
}

.container-name label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.container-name input{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgb(145, 145, 145);
    background-color: rgba(205, 247, 156, 0.788);
}

.container-name{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#div-audio {
    position: fixed;
    top: 15px;
    right: 15px;
}

#div-audio > button {   
    height: 50px;
    width: 60px;
}

#casa1,
#casa2,
#casa3,
#casa4,
#casa5,
#casa6,
#casa7,
#casa8,
#casa9,
#animal1,
#animal2,
#animal3,
#animal4,
#animal5,
#animal6,
#animal7,
#animal8,
#animal9 {
    display: none;
}

#casa1,
#casa2,
#casa3,
#casa4,
#casa5,
#casa6,
#casa7,
#casa8,
#casa9 {
    background-repeat: no-repeat;
    background-size: cover;
}

#casa1 {
    background-image: url(images/casa1.png);
}

#casa2 {
    background-image: url(images/casa2.png);
}

#casa3 {
    background-image: url(images/casa3.png);
}

#casa4 {
    background-image: url(images/casa4.png);
}

#casa5 {
    background-image: url(images/casa5.png);
}

#casa6 {
    background-image: url(images/casa6.png);
}

#casa7 {
    background-image: url(images/casa7.png);
}

#casa8 {
    background-image: url(images/casa8.png);
}

#casa9 {
    background-image: url(images/casa9.png);
}